/* Media query para pantallas grandes */
@media (min-width: 1200px) {
  .certificados-iconos .fa-eye {
    color: gray;
  }
  .acerca-cnt {
    width: 70%;
  }
  .certificados-iconos li:hover {
    background: #2e7272 !important;
  }
  .certificados-iconos li:hover p {
    color: aliceblue !important;
  }
  .iwinserPerfil {
    border-radius: 12px;
    background: #ffffff;
    width: 25%;
  }
  .iwinserPerfil img {
    width: 100%;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
  }
  .logos-contact {
    width: 35%;
    display: flex;
    justify-content: space-around !important;
  }
}

/* Media query para pantallas medianas */
@media (min-width: 800px) and (max-width: 1199px) {
  .acerca-cnt {
    width: 80%;
    padding-top: 20px;
  }
  .certificados-iconos .fa-eye {
    color: rgb(40, 40, 71);
  }
  .certificados-iconos li:hover {
    background: #2e7272 !important;
  }
  .certificados-iconos li:hover p {
    color: aliceblue !important;
  }
  .iwinserPerfil {
    border-radius: 12px;
    background: #ffffff;
    width: 30%;
  }
  .iwinserPerfil img {
    width: 100%;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
  }
  .logos-contact {
    width: 55%;
    display: flex;
    justify-content: space-around !important;
  }
}

/* Media query para pantallas horizontales */
@media (orientation: landscape) {
}

/* Media query para pantallas pequeñas */
@media (max-width: 799px) {
  .acerca-cnt {
    width: 100%;
    margin: auto !important;
    padding-top: 20px;
  }
  .certificados-iconos .fa-eye {
    color: gray;
  }
  .certificados-iconos {
    width: 100% !important;
  }
  .certificados-iconos li:hover {
    background: #2e7272 !important;
  }
  .certificados-iconos li:hover p {
    color: aliceblue !important;
  }
  .cnt-detalle-perfil {
    display: flex;
    flex-direction: column;
    height: 500px;
    align-content: space-between;
  }
  .iwinserPerfil {
    border-radius: 12px;
    background: #ffffff;
    width: 60%;
  }
  .iwinserPerfil img {
    width: 100%;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
  }
  .logos-contact {
    width: 80%;
    display: flex;
    justify-content: space-around;
    
  }
}
p {
  font-family: "Roboto Slab", serif;
  color: black;
}
.dark-mode .acerca-cnt p {
  color: white;
}
.dark-mode .acerca-cnt ul li p {
  color: rgb(7, 7, 7);
}
