/* Media query para pantallas grandes */
@media (min-width: 1200px) {
  .certificados-iconos .fa-eye {
    color: gray;
  }

  .acerca-cnt {
    width: 70%;
  }

  .certificados-iconos li:hover {
    background: #2e7272 !important;
  }

  .certificados-iconos li:hover p {
    color: aliceblue !important;
  }

  .iwinserPerfil {
    border-radius: 12px;
    background: #ffffff;
    width: 25%;
  }

  .iwinserPerfil img {
    width: 100%;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
  }

  .logos-contact {
    width: 35%;
    display: flex;
    justify-content: space-around !important;
  }
}

/* Media query para pantallas medianas */
@media (min-width: 800px) and (max-width: 1199px) {
  .acerca-cnt {
    width: 80%;
    padding-top: 20px;
  }

  .certificados-iconos .fa-eye {
    color: rgb(40, 40, 71);
  }

  .certificados-iconos li:hover {
    background: #2e7272 !important;
  }

  .certificados-iconos li:hover p {
    color: aliceblue !important;
  }

  .iwinserPerfil {
    border-radius: 12px;
    background: #ffffff;
    width: 30%;
  }

  .iwinserPerfil img {
    width: 100%;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
  }

  .logos-contact {
    width: 55%;
    display: flex;
    justify-content: space-around !important;
  }
}

/* Media query para pantallas horizontales */
@media (orientation: landscape) {}

/* Media query para pantallas pequeñas */
@media (max-width: 799px) {
  .acerca-cnt {
    width: 100%;
    margin: auto !important;
    padding-top: 20px;
  }

  .certificados-iconos .fa-eye {
    color: gray;
  }

  .certificados-iconos {
    width: 100% !important;
  }

  .certificados-iconos li:hover {
    background: #2e7272 !important;
  }

  .certificados-iconos li:hover p {
    color: aliceblue !important;
  }

  .cnt-detalle-perfil {
    display: flex;
    flex-direction: column;
    height: 500px;
    align-content: space-between;
  }

  .iwinserPerfil {
    border-radius: 12px;
    background: #ffffff;
    width: 60%;
  }

  .iwinserPerfil img {
    width: 100%;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
  }

  .logos-contact {
    width: 80%;
    display: flex;
    justify-content: space-around;
  }
}

p {
  font-family: "Roboto Slab", serif;
  color: black;
}

.dark-mode .acerca-cnt p {
  color: white;
}

.dark-mode .acerca-cnt ul li p {
  color: rgb(7, 7, 7);
}

.pdf-link p {
  border-radius: 2rem;
  padding: 8px;
  box-shadow: -1px 12px 18px 3px rgba(179, 14, 14, 0.38);
  -webkit-box-shadow: -1px 12px 18px 3px rgba(179, 14, 14, 0.38);
  -moz-box-shadow: -1px 12px 18px 3px rgba(179, 14, 14, 0.38);
}

.git-link p {
  border-radius: 2rem;
  padding: 8px;
  box-shadow: -1px 12px 18px 3px rgba(117, 19, 126, 0.38);
  -webkit-box-shadow: -1px 12px 18px 3px rgba(117, 19, 126, 0.38);
  -moz-box-shadow: -1px 12px 18px 3px rgba(117, 19, 126, 0.38);
}

.linkedin-link p {
  border-radius: 2rem;
  padding: 8px;
  margin: auto;
  box-shadow: -1px 12px 18px 3px rgba(28, 34, 208, 0.38);
  -webkit-box-shadow: -1px 12px 18px 3px rgba(28, 34, 208, 0.38);
  -moz-box-shadow: -1px 12px 18px 3px rgba(28, 34, 208, 0.38);
}

.dark-mode .pdf-link p {
  border-radius: 2rem;
  padding: 8px;
  box-shadow: -1px 12px 18px -6px rgba(179, 14, 14, 0.38);
  -webkit-box-shadow: -1px 12px 18px 8px rgba(179, 14, 14, 0.38);
  -moz-box-shadow: -1px 12px 18px -6px rgba(179, 14, 14, 0.38);
}

.dark-mode .git-link p {
  border-radius: 2rem;
  padding: 8px;
  box-shadow: -1px 12px 18px -6px rgba(117, 19, 126, 0.38);
  -webkit-box-shadow: -1px 18px 18px 8px rgba(117, 19, 126, 0.38);
  -moz-box-shadow: -1px 12px 18px -6px rgba(117, 19, 126, 0.38);
}

.dark-mode .linkedin-link p {
  border-radius: 2rem;
  padding: 8px;
  margin: auto;
  box-shadow: -1px 12px 18px -6px rgba(28, 34, 208, 0.38);
  -webkit-box-shadow: -1px 12px 18px 8px rgba(28, 34, 208, 0.38);
  -moz-box-shadow: -1px 12px 18px -6px rgba(28, 34, 208, 0.38);
}
.linkedin-link p:hover, 
.git-link p:hover, 
.pdf-link p:hover {
  box-shadow: -1px 12px 18px -6px rgba(109, 109, 109, 0.38);
  -webkit-box-shadow: -1px 12px 18px 8px rgba(73, 73, 73, 0.38);
  -moz-box-shadow: -1px 12px 18px -6px rgba(85, 85, 85, 0.38);
  transition: box-shadow 0.5s ease-in-out;
}
.dark-mode .linkedin-link p:hover, 
.dark-mode .git-link p:hover, 
.dark-mode .pdf-link p:hover {
  box-shadow: -1px 12px 18px -6px rgba(237, 237, 238, 0.38);
  -webkit-box-shadow: -1px 12px 18px 8px rgba(226, 226, 226, 0.38);
  -moz-box-shadow: -1px 12px 18px -6px rgba(226, 226, 226, 0.38);
  transition: box-shadow 0.5s ease-in-out;
}



.dark-mode .certificados-iconos ul {
  box-shadow: -1px 12px 18px -6px rgba(239, 239, 239, 0.38);
  -webkit-box-shadow: -1px 12px 18px -6px rgba(234, 234, 234, 0.38);
  -moz-box-shadow: -1px 12px 18px -6px rgba(238, 238, 238, 0.38);
}

.certificados-iconos ul {
  box-shadow: -1px 12px 18px 3px rgba(0, 0, 0, 0.38);
  -webkit-box-shadow: -1px 12px 18px 3px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: -1px 12px 18px 3px rgba(0, 0, 0, 0.38);
}


/* Seccion .experiencia */
.container-experiencia {
  margin-top: 24px;
}

.experiencia {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.imagenes-exp {
  row-gap: 22px;
  border-radius: 2rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  height: 400px;
  grid-template-areas:
    "imagenes-card2 imagenes-card2  imagenes-card5 imagenes-card5 imagenes-card3 imagenes-card3"
    ". imagenes-card4 imagenes-card4 imagenes-card1  imagenes-card1 .";
  box-shadow: -1px 12px 18px 3px rgba(0, 0, 0, 0.38);
  -webkit-box-shadow: -1px 12px 18px 3px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: -1px 12px 18px 3px rgba(0, 0, 0, 0.38);
  margin: 72px 0px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.dark-mode .imagenes-exp {
  box-shadow: -1px 12px 18px -6px rgba(239, 239, 239, 0.38);
  -webkit-box-shadow: -1px 1px 18px 1px rgba(234, 234, 234, 0.38);
  -moz-box-shadow: -1px 12px 18px -6px rgba(238, 238, 238, 0.38);
}

.imagenes-exp>div :hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.5s;
  -webkit-box-shadow: 3px 0px 41px 9px rgba(69, 67, 70, 0.56);
  -moz-box-shadow: 3px 0px 41px 9px rgba(69, 67, 70, 0.56);
  box-shadow: 3px 0px 41px 9px rgba(69, 67, 70, 0.56);
  outline: none;
  outline-offset: 0;
}

.dark-mode .imagenes-exp>div :hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.5s;
  box-shadow: -1px 12px 18px -6px rgba(239, 239, 239, 0.38);
  -webkit-box-shadow: -1px 1px 18px 1px rgba(234, 234, 234, 0.38);
  -moz-box-shadow: -1px 12px 18px -6px rgba(238, 238, 238, 0.38);
}

.imagenes-card1 {
  width: 120px;
  padding: 6px;
  place-self: center;
  grid-area: imagenes-card1;
  -webkit-box-shadow: inset 3px 0px 41px 9px rgba(238, 219, 93, 0.56);
  -moz-box-shadow: inset 3px 0px 41px 9px rgba(238, 219, 93, 0.56);
  box-shadow: inset 3px 0px 41px 9px rgba(238, 219, 93, 0.56);
}

.imagenes-card2 {
  width: 120px;
  padding: 6px;
  background: #ffffff;
  place-self: center;
  grid-area: imagenes-card2;
  -webkit-box-shadow: inset 3px 0px 41px 9px rgba(41, 181, 13, 0.56);
  -moz-box-shadow: inset 3px 0px 41px 9px rgba(41, 181, 13, 0.56);
  box-shadow: inset 3px 0px 41px 9px rgba(41, 181, 13, 0.56);
}

.imagenes-card3 {
  width: 120px;
  padding: 6px;
  grid-area: imagenes-card3;
  place-self: center;
  -webkit-box-shadow: inset 3px 0px 41px 9px rgba(122, 198, 255, 0.56);
  -moz-box-shadow: inset 3px 0px 41px 9px rgba(122, 198, 255, 0.56);
  box-shadow: inset 3px 0px 41px 9px rgba(122, 198, 255, 0.56);
}

.imagenes-card4 {
  width: 120px;
  padding: 6px;
  grid-area: imagenes-card4;
  place-self: center;
  -webkit-box-shadow: inset 3px 0px 41px 9px rgba(234, 143, 113, 0.56);
  -moz-box-shadow: inset 3px 0px 41px 9px rgba(234, 143, 113, 0.56);
  box-shadow: inset 3px 0px 41px 9px rgba(234, 143, 113, 0.56);

}

.imagenes-card5 {
  width: 120px;
  grid-area: imagenes-card5;
  place-self: center;
  padding: 6px;
  -webkit-box-shadow: inset 3px 0px 41px 9px rgba(122, 198, 255, 0.56);
  -moz-box-shadow: inset 3px 0px 41px 9px rgba(122, 198, 255, 0.56);
  box-shadow: inset 3px 0px 41px 9px rgba(122, 198, 255, 0.56);
}

