/* Media query para pantallas grandes */
@media (min-width: 1200px) {
  .certificados-iconos .fa-eye {
    color: gray;
  }
  .acerca-cnt {
    width: 70%;
  }
}

/* Media query para pantallas medianas */
@media (min-width: 800px) and (max-width: 1199px) {
  .acerca-cnt {
    width: 80%;
  }
  .certificados-iconos .fa-eye {
    color: gray;
  }
}

/* Media query para pantallas horizontales */
@media (orientation: landscape) {
}

/* Media query para pantallas pequeñas */
@media (max-width: 799px) {
  .acerca-cnt {
    width: 100%;
    margin: auto !important;
  }
  .certificados-iconos .fa-eye {
    color: gray;
  }
  .certificados-iconos {
    width: 100% !important;
  }
}
p {
  font-family: "Roboto Slab", serif;
  color: black;
}
.dark-mode .acerca-cnt p {
  color: white;
}
.dark-mode .acerca-cnt ul li p {
  color: rgb(7, 7, 7);
}
