/* Estilos generales para todas las pantallas */
.content-aside {
  width: 100%;
  text-align: center;
  margin-top: 32px;
}

.aside-div-int h6 {
  color: rgb(0, 0, 0);
}

.cont-int-aside {
  display: inline-block;
  justify-content: center;
  padding: 6px 0px 6px 0;
  width: 100%;
}

.cont-int-aside a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.dark-mode .content-aside h6 {
  color: #fff;
}
.dark-mode .content-aside p {
  color: #fff;
}

/* Media query para pantallas medianas */
@media (min-width: 800px) and (max-width: 1199px) {
  .aside,
  .noBorder {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}

/* Media query para pantallas pequeñas */
@media (max-width: 799px) {
  .aside,
  .noBorder {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

}

/* Media query para pantallas muy pequeñas */
@media (max-width: 530px) {
  .content-aside {
    flex-direction: column;
    margin: 18px 0;
  }

  .cont-int-aside {
    margin-left: 0;
    width: 100%;
    text-align: center;
    justify-content: center;
  }

  .aside,
  .noBorder {
    width: 100%;
  }

  .aside-div-int h6 {
    margin-left: 0;
  }

  .aside-div-int {
    width: 100%;
    text-align: center;
    margin: 4px 0;
  }
}
