@media (min-width: 1200px) {
    .content-aside {
        width: 100%;
    }
    .aside,
    .noBorder {
      border: none;
      width: 40%;
      
    }
    .aside-div-int h6 {
        margin-left: 52px;
        color: rgb(80, 80, 80);
    }
    .cont-int-aside {
        display: flex;
        padding: 0;
        margin-left: 52px;
    }
    .cont-int-aside a{
        color:rgb(43, 43, 43);
        text-decoration: none;
    }
    
    .git-link:hover {
        color: var(--iconGit);
    }
    .linkedin-link:hover {
        color: var(--iconLinkedin);
    }
    .pdf-link:hover {
        color: var(--iconPdf);
    }
    .email-link:hover {
        background-image: var(--iconEmail);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
    .wsp-link:hover {
        color: var(--iconWsp);
    }
    
    .dark-mode .wsp-link:hover {
        background-image: var(--iconWsp);
        -webkit-text-fill-color: var(--iconWsp);
        text-fill-color: #fff;
      }
      .dark-mode .pdf-link:hover {
        color: var(--iconPdf);
    }
    .dark-mode .linkedin-link:hover {
        color: var(--iconLinkedin);
    }
    .dark-mode .git-link:hover {
        color: var(--iconGit);
    }
}

/* Media query para pantallas medianas */
@media (min-width: 800px) and (max-width: 1199px) {
    .aside-cnt {
        width: 100%;    
    }
    .card {
        border-radius: 0;
    }
    .aside,
    .noBorder {
      border: none;
      width: 50%;
      justify-content: center;
      align-items: center;
    }
    .aside-div-int h6 {
        margin-left: 32px;
        color: rgb(80, 80, 80);
    }
    .cont-int-aside {
        display: flex;
        padding: 0;
        margin-left: 32px;
    }
    .cont-int-aside a{
        color:rgb(43, 43, 43);
        text-decoration: none;
    }
    
    .git-link:hover {
        color: var(--iconGit);
    }
    .linkedin-link:hover {
        color: var(--iconLinkedin);
    }
    .pdf-link:hover {
        color: var(--iconPdf);
    }
    .email-link:hover {
        background-image: var(--iconEmail);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
    .wsp-link:hover {
        color: var(--iconWsp);
    }
    
    .dark-mode .wsp-link:hover {
        background-image: var(--iconWsp);
        -webkit-text-fill-color: var(--iconWsp);
        text-fill-color: #fff;
      }
      .dark-mode .pdf-link:hover {
        color: var(--iconPdf);
    }
    .dark-mode .linkedin-link:hover {
        color: var(--iconLinkedin);
    }
    .dark-mode .git-link:hover {
        color: var(--iconGit);
    }
}

/* Media query para pantallas horizontales */
@media (orientation: landscape) {}

/* Media query para pantallas pequeñas */
@media (max-width: 799px) {
    .aside-cnt {
        width: 100%;    
    }
    .card {
        border-radius: 0;
    }
    .aside,
    .noBorder {
      border: none;
      width: 50%;
      justify-content: center;
      align-items: center;
    }
    .aside-div-int h6 {
        margin-left: 32px;
        color: rgb(80, 80, 80);
    }
    .cont-int-aside {
        display: flex;
        padding: 0;
        margin-left: 32px;
    }
    .cont-int-aside a{
        color:rgb(43, 43, 43);
        text-decoration: none;
    }
    
    .git-link:hover {
        color: var(--iconGit);
    }
    .linkedin-link:hover {
        color: var(--iconLinkedin);
    }
    .pdf-link:hover {
        color: var(--iconPdf);
    }
    .email-link:hover {
        background-image: var(--iconEmail);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
    .wsp-link:hover {
        color: var(--iconWsp);
    }
    
    .dark-mode .wsp-link:hover {
        background-image: var(--iconWsp);
        -webkit-text-fill-color: var(--iconWsp);
        text-fill-color: #fff;
      }
      .dark-mode .pdf-link:hover {
        color: var(--iconPdf);
    }
    .dark-mode .linkedin-link:hover {
        color: var(--iconLinkedin);
    }
    .dark-mode .git-link:hover {
        color: var(--iconGit);
    }
}