@media (max-width: 800px) and (min-width: 100px) {
  .theme-toggle {
    position: fixed;
    bottom: 18px;
    left: 12px;
    z-index: 1000;
    background-color: transparent;
    color: #030303;
    border: none;
    border-radius: 50%;
    padding: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  .dark-mode .ci-icon {
    color: rgb(0, 0, 0) !important;
  }

  .dark-mode .theme-toggle p {
    color: #ffffff !important;
  }

  .dark-mode .btn-arriba {
    background-color: #ffffff;
    color: #000000;
  }
}

@media (min-width: 801px) and (max-width: 1200px) {
  .theme-toggle {
    position: fixed;
    top: 5px;
    right: 12px;
    z-index: 1000;
    background-color: transparent;
    color: #030303;
    border: none;
    border-radius: 50%;
    padding: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  .dark-mode .theme-toggle p {
    color: #ffffff !important;
  }

  .dark-mode .btn-arriba {
    background-color: #ffffff;
    color: #000000;
  }
}


@media (min-width: 1201px) {
  .theme-toggle {
    position: fixed;
    top: -2px;
    right: 12px;
    z-index: 1000;
    background-color: transparent;
    color: #030303;
    border: none;
    border-radius: 50%;
    padding: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  .dark-mode .theme-toggle p {
    color: #ffffff !important;
  }

  .dark-mode .btn-arriba {
    background-color: #ffffff;
    color: #000000;
  }
}

.btn-arriba {
  background-color: rgba(0, 0, 0, 0.85);
  color: #ffffff;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin: 0 1rem 1rem 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.btn-arriba:hover {
  background-color: rgb(0, 0, 0);
  transform: translateY(-3px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.btn-arriba i {
  font-size: 1.5rem;
  transition: all 0.3s ease;
  line-height: 0;
}

.btn-arriba:hover i {
  transform: scale(1.1);
  color: #ffffff;
}

.dark-mode .btn-arriba {
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  box-shadow: 0 2px 6px rgba(255, 255, 255, 0.2);
}

.dark-mode .btn-arriba:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: #ffffff;
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.3);
}

/* Otras clases de estilo que mencionaste anteriormente */
.ci-icon {
  color: rgb(0, 0, 0);
  font-size: 18px;
  padding: 0;
  margin: 0;
}

.dark-mode .theme-toggle p {
  color: #ffffff;
}

.dark-mode .ci-icon {
  color: rgb(0, 0, 0) !important;
}

button .ci-icon:hover {
  color: rgb(0, 0, 0);
}