.dark-mode .certificados-container p {
    color: #fff !important;
}

.certificados-container {
    padding: 8px; 
    max-width: 800px;
    margin: 0 auto;
}

.timeline-content {
    padding: 4px 8px; 
    text-align: left;
}

.timeline-content .title {
    font-size: 0.9rem; 
    margin-bottom: 4px;
    color: #333;
    font-weight: bold; 
}

.timeline-content .institucion {
    font-size: 0.8rem; 
    margin-bottom: 4px;
    color: #666;
}

.timeline-content .fecha {
    font-size: 0.75rem; 
    color: #888;
    margin-bottom: 8px;
}

.view-link {
    display: inline-block;
    padding: 3px 6px; 
    font-size: 0.75rem; 
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 3px; 
    transition: background-color 0.3s ease;
}

.view-link:hover {
    background-color: #0056b3;
}

/* Ajustes para móviles */
@media (max-width: 768px) {
    .timeline-content .title {
        font-size: 0.85rem; 
    }

    .timeline-content .institucion {
        font-size: 0.75rem; 
    }

    .view-link {
        font-size: 0.7rem; 
        padding: 2px 4px; 
    }
}



/* modal */

/* Estilos para el modal */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed; /* Posición fija */
    z-index: 1; /* Encima de todo */
    padding-top: 60px; /* Ubicación del contenido */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Habilitar scroll si es necesario */
    background-color: rgb(0,0,0); /* Color de fondo */
    background-color: rgba(0,0,0,0.9); /* Color de fondo con transparencia */
  }
  
  /* Estilos para la imagen dentro del modal */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 600px;
  }
  
  /* Estilos para el botón de cerrar */
  .close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }