/* Estilos comunes para todas las pantallas */
.icono-formulario {
  text-align: center;
  position: relative;
  height: 44px;
}

.icono-formulario img:hover {
  position: static;
  width: auto;
  height: 90%;
  padding: 3px;
  border-radius: 50%;
  background: #d3d3d3;
  cursor: pointer;
}

#form-contact {
  font-size: 16px;
  padding-bottom: 12px;
  padding-top: 12px;
  border: solid 1px rgb(175, 175, 175);
  border-radius: 2%;
  background-color: #ffffff;
  border-color: #0a6ed1;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.dark-mode #form-contact {
  background-color: #181d22;
  border-color: #444;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}


.dark-mode label {
  color: #ffffff;
  font-weight: 600;
}

label {
  color: #000000;
  font-weight: 600;
}

.none-view {
  display: none;
}

.block-view {
  transition: 2s cubic-bezier(0, 0, 0, 0.27);
  display: block;
  opacity: 1;
  border: solid 1px rgb(175, 175, 175);
  border-radius: 2%;
}

.text-form {
  text-align: center;
  font-size: 0.8em;
  font-family: "Lato", sans-serif;
}

.form-control {
  -webkit-box-shadow: 0px 5px 5px -3px rgba(158, 158, 158, 0.5);
  -moz-box-shadow: 0px 5px 5px -3px rgba(148, 148, 148, 0.5);
  box-shadow: 0px 5px 5px -3px rgba(139, 139, 139, 0.5);
}

.dark-mode .form-control {
  -webkit-box-shadow: 0px 5px 5px -3px rgba(158, 158, 158, 0.5);
  -moz-box-shadow: 0px 5px 5px -3px rgba(148, 148, 148, 0.5);
  box-shadow: 0px 5px 5px -3px rgba(139, 139, 139, 0.5);
}

/* Media query para pantallas grandes */
@media (min-width: 1200px) {}

/* Media query para pantallas medianas */
@media (min-width: 800px) and (max-width: 1199px) {}

/* Media query para pantallas pequeñas */
@media (max-width: 799px) {
  #form-contact {
    width: 100% !important;
  }
}

.dark-mode .form-label,
.dark-mode .text-form {
  color: white;
}