.dark-mode .color-letra {
  color: rgb(0, 0, 0);
}

.MDBCard:hover {
  background-color: rgba(98, 98, 98, 0.15);
  cursor: pointer;
}
.dark-mode .MDBCard:hover {
  background-color: rgba(150, 150, 150, 0.375);
  cursor: pointer;
  color: white;
}
.dark-mode .MDBCard {
  background-color: rgba(207, 207, 207, 0.375);
  cursor: pointer;
  color: white;
}
.MDBCard img {
  transition: transform 0.3s;
}

.MDBCard {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s;
}
.MDBCard:hover img {
  transition: transform 0.3s;
  transform: scale(
    1.03, 1.02
  ); 
}
