.dark-mode .color-letra {
  color: rgb(0, 0, 0);
}
.dark-mode p {
  color: white;
}
.MDBCard:hover {
  background-color: rgba(98, 98, 98, 0.15);
  cursor: pointer;
}
.dark-mode .MDBCard:hover {
  background-color: rgba(150, 150, 150, 0.375);
  cursor: pointer;
  color: white;
}
.dark-mode .MDBCard {
  background-color: rgba(207, 207, 207, 0.375);
  cursor: pointer;
  color: white;
}
.MDBCard img {
  transition: transform 0.3s;
}

.MDBCard {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s;
}
.MDBCard:hover img {
  transition: transform 0.3s;
  transform: scale(
    1.03, 1.02
  ); 
}


.img {
  height: 220px;
  width: 100%;
  object-fit: contain;
  margin-top: "";
}
.text-align-div-inter{
  text-align: justify;
}

.title-card {
  color: #ffffff !important;
  text-align: center;
  font-weight: 700;
  font-family: sans-serif;
  text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}