/* Media query para pantallas grandes */
nav .container-fluid .collapse {
  justify-content: end;
}

@media (min-width: 1200px) {
  .collapse {
    position: relative;
  }

  nav {
    max-width: 1200px;
    width: 100%;
  }

  .nav-ul {
    z-index: inherit;
    height: 40px;
    width: 100%;
    justify-content: space-around;
    position: relative;
    margin-left: 50px;
  }

  .nav-ul li {
    margin-right: 10px;
    /* Reducido para dar espacio a los óvalos */
    position: static;
    width: auto;
    /* Cambiado de 20% a auto */
    text-align: center;
  }

  .nav-ul a {
    position: relative;
    display: inline-block;
    padding: 5px 15px;
    /* Ajustado para el óvalo */
    border-radius: 20px;
    /* Crea el efecto ovalado */
    background-color: #f0f0f0;
    /* Color de fondo del óvalo */
    transition: background-color 0.3s ease;
  }

  .nav-ul a:hover {
    background-color: #e0e0e0;
    /* Color de fondo al pasar el mouse */
  }

  .nav-ul a::before {
    display: none;
    /* Removemos la línea de subrayado existente */
  }

  .dark-mode #navbar {
    z-index: 100;
    position: fixed;
    /* Make it stick/fixed */
    top: 0;
    height: 50px;
    transition: top 0.5s;
    /* background-color: #20252C; */
  }

  #navbar {
    z-index: 100;
    position: fixed;
    /* Make it stick/fixed */
    top: 0;
    height: 50px;
    transition: top 0.5s;
    /* background-color: rgba(255, 255, 255, 0.8); */
  }

  .dark-mode nav {
    /* background-color: #20252C; */
  }
}

/* Media query para pantallas medianas */
@media (min-width: 800px) and (max-width: 1199px) {
  .navbar-brand {
    display: none;
  }

  .navbar-nav-scroll {
    overflow: visible;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .container-fluid {
    width: 90% !important;
  }

  .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }

  .navbar-toggler {
    display: none;
  }

  .collapse {
    position: relative;
  }

  nav {
    max-width: 1199px;
    width: 100%;
  }

  .nav-ul {
    z-index: inherit;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
  }

  .nav-ul li {
    position: static;
    text-align: center;
    margin: 0 5px;
  }

  .nav-ul a {
    position: relative;
    display: inline-block;
    padding: 5px 15px;
    border-radius: 20px;
    background-color: #f0f0f0;
    transition: background-color 0.3s ease;
  }

  .nav-ul a:hover {
    background-color: #e0e0e0;
  }

  .nav-ul a::before {
    display: none;
  }

  .dark-mode #navbar {
    z-index: 100;
    position: fixed;
    /* Make it stick/fixed */
    top: 0;
    height: 50px;
    transition: top 0.5s;
    /* background-color: #20252C; */
  }

  #navbar {
    z-index: 100;
    position: fixed;
    /* Make it stick/fixed */
    top: 0;
    height: 50px;
    transition: top 0.5s;
    /* background-color: rgba(255, 255, 255, 0.8); */
  }

  .dark-mode nav {
    /* background-color: #20252C; */
  }
}

/* Media query para pantallas horizontales */
@media (orientation: landscape) {}

/* Media query para pantallas pequeñas */
@media (max-width: 799px) {
  nav {
    border-radius: 5%;
  }

  .navbar-toggler {
    color: #c7c7c7;
  }

  .container-fluid {
    width: 90% !important;
    padding: 0.5em 0.5em;
  }

  .container-fluid a {
    color: black;
    text-align: center;
  }

  .dark-mode .container-fluid {
    /* background: #f8f9fa; */
    border-radius: 5px;
    width: 90% !important;
    padding: 0.5em 0.5em;
  }

  .dark-mode .container-fluid a {
    color: black;
    text-align: center;
  }

  .dark-mode #n2 {
    z-index: 100;
    position: fixed;
    /* Make it stick/fixed */
    top: 0;
    height: 52px;
    transition: top 0.5s;
    background-color: #20252C;
    width: 100% !important;
  }

  .dark-mode #n2 a {
    color: white;
    background-color: #20252C;
    z-index: 200;
  }

  #n2 {
    width: 100% !important;
    z-index: 100;
    position: fixed;
    /* Make it stick/fixed */
    top: 0;
    height: 50px;
    transition: top 0.5s;
    background-color: rgba(255, 255, 255, 0.8);
  }

  #n2 a {
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 200;
  }

  .dark-mode button {
    background: white;
  }

  .nav-ul a {
    display: block;
    margin-bottom: 5px;
    padding: 5px 15px;
    border-radius: 20px;
    background-color: #f0f0f0;
  }

  .nav-ul a:hover {
    background-color: #e0e0e0;
  }
}

nav li {
  font-family: "Lato", sans-serif;
  font-weight: 900;
}

.navbar-brand svg {
  border-radius: 2rem;
  color: aqua !important;
}

.nav-ul a {
  color: black;
}

.dark-mode .nav-ul a {
  background-color: #333;
  color: white;
}

.dark-mode .nav-ul a:hover {
  background-color: #444;
}