/* Estructura y colores originales */
nav .container-fluid .collapse {
  justify-content: end;
}

@media (min-width: 1200px) {
  .collapse {
    position: relative;
  }

  nav {
    max-width: 1200px;
    width: 100%;
  }

  .nav-ul {
    z-index: inherit;
    height: 40px;
    width: 70%;
    justify-content: space-around;
    position: relative;
    margin-left: 50px;
    border-radius: 20px;
    background-color: #f0f0f0;
    transition: background-color 0.3s ease;
    margin: auto;
  }

  .nav-ul li {
    margin-right: 10px;
    position: static;
    width: auto;
    text-align: center;
  }

  .nav-ul a {
    position: relative;
    display: inline-block;
    padding: 5px 15px;
    border-radius: 20px;
    background-color: #f0f0f0;
    transition: background-color 0.3s ease;
    color: black;
  }

  .nav-ul a:hover {
    background-color: #e0e0e0;
  }

  .dark-mode #navbar {
    z-index: 100;
    position: fixed;
    top: 0;
    height: 50px;
    transition: top 0.5s;
  }

  #navbar {
    z-index: 100;
    position: fixed;
    top: 0;
    height: 50px;
    border-radius: 20px;
    background-color: #f0f0f0;
    transition: all 0.3s ease;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
  }
  
}

/* Ajustes de modo oscuro, solo cambiando colores */
.dark-mode #navbar {
  background-color: #20252c;
}

.dark-mode .nav-ul {
  background-color: #20252c;
}

.dark-mode .nav-ul a {
  color: #f0f0f0;
  background-color: #20252c;
}

.dark-mode .nav-ul a:hover {
  background-color: #555;
}

@media (min-width: 800px) and (max-width: 1199px) {
  .dark-mode #navbar {
    background-color: transparent;
  }

  .navbar-brand {
    display: none;
  }

  .navbar-nav-scroll {
    overflow: visible;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .container-fluid {
    width: 90% !important;
  }

  .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }

  .navbar-toggler {
    display: none;
  }

  .collapse {
    position: relative;
  }

  nav {
    max-width: 1199px;
    width: 100%;
  }

  .nav-ul {
    z-index: inherit;
    height: 40px;
    width: 70%;
    display: flex;
    justify-content: space-around;
    position: relative;
    align-items: center;
    border-radius: 20px;
    background-color: #f0f0f0;
    transition: background-color 0.3s ease;
    margin: auto;
  }

  .nav-ul li {
    position: static;
    text-align: center;
    margin: 0 5px;
  }

  .nav-ul a {
    position: relative;
    display: inline-block;
    padding: 5px 15px;
    border-radius: 20px;
    background-color: #f0f0f0;
    transition: background-color 0.3s ease;
    color: black;
  }

  .nav-ul a:hover {
    background-color: #e0e0e0;
  }

  .dark-mode .container-fluid {
    color: white;
  }

  .dark-mode .nav-ul a {
    color: white;
    background-color: #333;
  }

  .dark-mode .nav-ul a:hover {
    background-color: #20252c;
  }

  #navbar {
    z-index: 100;
    position: fixed;
    top: 0;
    height: 50px;
    border-radius: 20px;
    background-color: #f0f0f0;
    transition: all 0.3s ease;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 799px) {
  .dark-mode #navbar {
    background-color: transparent;
  }

  nav {
    border-radius: 5%;
  }

  .navbar-toggler {
    color: #c7c7c7 !important;
  }

  .navbar-toggler {
    background-color: white;
  }


  .container-fluid {
    width: 90% !important;
    padding: 0.5em 0.5em;

  }

  .container-fluid a {
    color: black;
    text-align: center;
  }

  .dark-mode .container-fluid {
    border-radius: 5px;
    width: 90% !important;
    padding: 0.5em 0.5em;
  }

  .dark-mode #n2 {
    z-index: 100;
    position: fixed;
    top: 0;
    height: 52px;
    transition: top 0.5s;
    width: 100% !important;
    background: transparent;
  }

  .dark-mode .nav-ul {
    background-color: transparent;
  }

  .dark-mode #n2 a {
    color: white;
    background-color: #20252c;
  }

  #n2 {
    width: 100% !important;
    z-index: 100;
    position: fixed;
    top: 0;
    height: 50px;
    transition: top 0.5s;
    background-color: rgba(255, 255, 255, 0.8);
  }

  #n2 a {
    background-color: rgba(255, 255, 255, 0.8);
  }

  .nav-ul a {
    display: block;
    margin-bottom: 5px;
    padding: 5px 15px;
    border-radius: 20px;
    background-color: #f0f0f0;
    color: black;
  }

  .nav-ul a:hover {
    background-color: #e0e0e0;
  }

  .dark-mode .nav-ul a {
    color: white;
    background-color: #20252c;
  }

  .dark-mode .nav-ul a:hover {
    background-color: #20252c;
  }
}