.dark-mode {
 
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #eaecee;
  background-color: #12171C;
}

.dark-mode a {
  color: #eaecee;
}

.dark-mode a:hover {
  color: #eaecee;
}

body {
  transition: background-color 0.12s ease-in-out, color 0.12s ease-in-out;
  -webkit-transition: background-color 0.12s ease-in-out, color 0.12s ease-in-out;
  -moz-transition: background-color 0.12s ease-in-out, color 0.12s ease-in-out;
  -ms-transition: background-color z;
  -o-transition: background-color 0.12s ease-in-out, color 0.12s ease-in-out;

  margin: 0;
  padding: 0;
}

header {
  background: #ffffff;
  height: 50px;
}

body {
  background-attachment: fixed;
  background-color: (255, 255, 255)
}

* p {
  font-size: 0.92em;
}